#header{
	font-family:sans,sans-serif;
	font-size:24px;
	text-align:center;
	background-color:#55ACE6;
	color:white;
	height:50px;
	border: 1px solid white;
	border-radius:3px;
}

#back{
	position:absolute;
	top:14px;
	left:10px;
	font-size:75%;
	background-color:#4C9BCF;
	color:white;
	border:1px solid white;
	border-radius:3px;
	text-decoration:none;
}

a:link, a:visited, a:hover, a:active{
	color:white;
	text-decoration:none;
}
body{
	background-color:#55ACE6;
	text-align:center;
	color:white;
}

h4{
	font-size:20px;
}

#input{
	border:1px solid white;
	border-radius:3px;
	width:35px;
	font-size:16px;
	color:black;
}

#resultButton{
	height:45px;
	width:65px;
	color:#55ACE6;
}

#pmButton{
	height:45px;
	width:45px;
	color:#55ACE6;
}

#answerBox{
	border: 1px solid white;
	border-radius: 3px;
	width:100px;
	font-size:16px;
	color:black;
}

#result{
	color:white;
	font-family:sans;
	font-size:18px;
}

span{
	font-family:sans-serif;
}