#header{
	font-family:Verdana,sans-serif;
	font-size:24px;
	text-align:center;
	background-color:#55ACE6;
	color:white;
	height:50px;
	border: 1px solid white;
	border-radius:3px
}

#header #about{
	position:absolute;
	top:14px;
	left:10px;
	font-size:75%;
	background-color:#4C9BCF;
	color:white;
	border:1px solid white;
	border-radius:3px;
}

#equations{
	background-color:#55ACE6;
	color:white;
	border:1px solid white;
	border-radius:3px;
	font-size:20px;
	text-align:center;
}

#equations ul{
	list-style-type:none;
	margin: 0; 
	padding: 0;
}

h3{
	font-family:Verdana,sans-serif;
	color:white;
	text-align:center;
}

body{
	background-color:#5EBFFF;
}

a{
	color:white;
	text-decoration:none;
}

div hr{
	margin-right:50px;
}

p{
	text-align:center;
}

