body {
	text-align: center;
	background-color:#55ACE6;
}
#header{
	font-family:sans,sans-serif;
	font-size:24px;
	text-align:center;
	background-color:#55ACE6;
	color:white;
	height:50px;
	border: 1px solid white;
	border-radius:3px;
}

#header #back{
	position: absolute;
	font-size:75%;
	background-color:#4C9BCF;
	color:white;
	border:1px solid white;
	border-radius:3px;
	top: 13px;
	left: 10px;
}
#input {
	border: 1px solid white;
	border-radius: 5px;
	width: 35px;
	font-family:sans;
	font-size:16px;
	color:black;
}

h4{
	font-family:sans;
	font-size:20px;
	color:white;
}
#resultButton{
	height:45px;
	width:65px;
	color:#55ACE6;
}

#pmButton{
	height:45px;
	width:45px;
	color:#55ACE6;
}

#betweenBrackets{
	color:white;
	font-family:sans;
	font-size:18px;
}

span{
	font-family:sans-serif;
	font-size: 18px;
}

#X{
	font-family:sans-serif;
	color:white;
	
}
#ansX{
	color:white;
}

#answerBox{
	border: 1px solid white;
	border-radius:5px;
	width:100px;
	font-family:sans;
	font-size:16px;
	color:black;
}

#result{
	color:white;
	font-family:sans;
	font-size:18px;
}

a{
	color:white;
	text-decoration:none;
}
