#header{
	font-family:Verdana,sans-serif;
	font-size:24px;
	text-align:center;
	background-color:#55ACE6;
	color:white;
	height:50px;
	border: 1px solid white;
	border-radius:3px;
}

#header #back{
	position:absolute;
	top:14px;
	left:10px;
	font-size:75%;
	background-color:#4C9BCF;
	color:white;
	border:1px solid white;
	border-radius:3px;
	text-decoration:none;
}
body{
	background-color:#55ACE6;
}

h4{
	font-family:Verdana;
	color:white;
}

#x2{
	color:white;
	font-family:Verdana;
}

#x2 span{
	font-family:Cursive
}

.Xs{
	font-family:Cursive;
}

#a{
	position:absolute;
	top:125px;
	left:10px;
	border: 1px solid white;
	border-radius:5px;
	width:45px;
}

#b{
	position:absolute;
	top:125px;
	left:127px;
	border: 1px solid white;
	border-radius:5px;
	width:45px;
}

#x2{
	position:absolute;
	top:110px;
	left:60px;
}

#plus1{
	position:absolute;
	top:107px;
	left:105px;
}

#x{
	position:absolute;
	top:111.5px;
	left:180px;
	color: white;
	font-family:Verdana;
}

#plus2{
	position:absolute;
	top:107px;
	left:200px;
}

#c{
	position:absolute;
	top:125px;
	left:225px;
	border: 1px solid white;
	border-radius:5px;
	width:45px;
}
#aT{
	position:absolute;
	top:137px;
	left:20px;
	color:white;
	font-family:Verdana;
}

#bT{
	position:absolute;
	top:137px;
	left:137px;
	color:white;
	font-family:Verdana;
}

#cT{
	position:absolute;
	top:137px;
	left:237px;
	color:white;
	font-family:Verdana;
}

#equal{
	position:absolute;
	top:107px;
	left:280px;
	color:white;
	font-family:Verdana;
}

a{
	color:white;
	text-decoration:none;
}

#zero{
	position:absolute;
	top:107px;
	left:300px;
	color:white;
	font-family:Verdana;
}

#resultButton{
	position:absolute;
	top:185px;
	left:65px;
	height:45px;
	width:65px;
	color:#55ACE6;
}

#PM{
	position:absolute;
	top:185px;
	left:10px;
	height:45px;
	width:45px;
	color:#55ACE6;
}

#result{
	position:absolute;
	top:165px;
	left:217px;
	color:white;
	font-family:Verdana;
}

#ansX{
	color:white;
	position:absolute;
	top:181px;
	left:180px;
}

#ansX2{
	color:white;
	position:absolute;
	top:215px;
	left:155px;
}

#answerBox{
	position:absolute;
	top:200px;
	left:210px;
	border: 1px solid white;
	border-radius:5px;
	width:100px;
}

#answerBox2{
	position:absolute;
	top:233px;
	left:210px;
	border: 1px solid white;
	border-radius:5px;
	width:100px;
}